/* ### Frontend-mentor Challenge - Stats-preview-card ### */

:root{
   --very-dark-blue: hsl(233, 47%, 7%);
   --dark-desaturated-blue: hsl(244, 38%, 16%);
   --soft-violet: hsl(277, 100%, 27%);
   --soft-light-violet: hsl(277, 69%, 63%);
   --white: hsl(0 0% 100%);
   --slightly-transparent-white-main: hsla(0, 0%, 100%, 0.75);
   --slightly-transparent-white-stat: hsla(0, 0%, 100%, 0.6);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*,
*::after,
*::before{
   box-sizing: border-box;
}

body{
   margin: 0;
   display: grid;
   place-content: center;
   min-height: 100vh;
   font-family: 'Inter', sans-serif;
   /* font-family: 'Lexend Deca', sans-serif; */
   background-color: var(--very-dark-blue);
}

.card{
   max-width: 1000px;
   display: flex;
   flex-direction: column-reverse;
   margin: 1.5em;
   border-radius: 12px;
   overflow: hidden;
   background-color: var(--dark-desaturated-blue);
}

.card__right-content{
   height: 400px;
   background-image: url('../images/image-header-mobile.jpg');
   background-size: cover;
   background-position: center;
}

.card__right-content .image{
   width: 100%;
   height: 100%;
   background-color: var(--soft-violet);
   opacity: 0.5;
}

.card__left-content{
   text-align: center;
   padding: 1.5em 4em;
}

.stats__title{
   color: var(--slightly-transparent-white-main);
   margin-bottom: 1em;
}

.stats__title span{
   color: var(--soft-light-violet);
}

.stats__text{
   color: var(--slightly-transparent-white-stat);

}

.value{
   text-transform: uppercase;
   font-weight: 400;
}

.stats__values{
   display: flex;
   flex-direction: column;
   margin: 0;
}

.stats__values span{
   display: block;
   margin: 0.2em;
   font-size: 1.8em;
   font-weight: 700;
}

@media (min-width:720px) {
   .card{
      flex-direction: row;
      align-items: center;
   }
   .card__right-content{
      min-width: 500px;
      background-image: url('../images/image-header-desktop.jpg');
   }
   .card__right-content .image{
      min-width: 500px;
   }
   .card__left-content{
      text-align: left;
   }
   .stats__values{
      margin-top: 3em;
      flex-direction: row;
      justify-content: space-between;
      align-content: flex-end;
   }
}