/* ### Frontend-mentor Challenge - Social Profile Card ### */

:root{
   --green-color: hsl(75, 94%, 57%);
   --white-color: hsl(0, 0%, 100%);
   --grey-color: hsl(0, 0%, 20%);
   --dark-grey-color: hsl(0, 0%, 12%);
   --off-black-ciolor: hsl(0,0%, 8%);
}

@font-face {
   font-family: 'Inter';
   src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}


*,
*::before,
*::after{
   box-sizing: border-box;
}

body{
   /* max-width: 1440px; */
   min-height: 100vh;
   display: grid;
   place-content: center;
   margin: 0;
   font-family: 'Inter', sans-serif;
   background-color: var(--off-black-ciolor);
}

img{
   max-width: 100%
}

header{
   margin-bottom: 1.5em;
}
.social-card{
   width: 350px;
   height: 580px;
   padding: 1em;
   text-align: center;
   border-radius: 12px;
   background-color: var(--dark-grey-color);
}

.social-card__avatar{
   margin: 1em auto;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   overflow: hidden;
}

.social-card__name{
   margin-bottom: 0.2em;
   font-size: 1.5em;
   color: var(--white-color);
}
.social-card__location{
   font-size: 0.9em;
   color: var(--green-color);
}
.social-card__profile-description{
   margin-bottom: 0em;
   font-size: 0.7em;
   color: var(--white-color);
}


.social-card__links{
   margin-top: 2em;
}

.social-card__links a{
   display: grid;
   place-content: center;
   text-decoration: none;
   width: 300px;
   height: 40px;
   margin: 1em auto;
   border-radius: 12px;
   /* font-size: 1em; */
   font-weight: 600;
   background-color: var(--grey-color);
   color: var(--white-color);
}

.social-card__links a:hover{
   background-color: var(--green-color);
   color: var(--off-black-ciolor);
}